<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Blog Posts</title>
</head>
<body>
    <div class="navbar">
        <div class="nav-heading">
            <p>daily journal</p>
        </div>
        <ul class="nav-items">
            <li class="nav-item"><a href="/" class="nav-item-link">Home</a></li>
            <li class="nav-item"><a href="/about" class="nav-item-link">About us<i class="fa fa-usb" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a href="/contact" class="nav-item-link">Contact us</a></li>
        </ul>
    </div>