<%- include("partials/header") -%>
<div class="post">
  <div class="page-heading">
    <h1><%=title%></h1>
  </div>
  <div class="page-content">
    <p><%= content %></p>
  </div>
</div>
<%- include("partials/footer") -%>
